<!DOCTYPE html>
<html>
  <head>
    <title> Song Recommendations </title>
  </head>
  <body>
    
    <form action = '/response'>
      Which of these genres do you like best? <br>
      <input type="radio" name = "genre" value = "indie">
      <label for="indie">Indie</label><br>
      <input type="radio" name="genre" value="pop">
      <label for="pop">Pop</label><br>
      <input type="radio" name="genre" value="rock">
      <label for="rock">Rock</label><br>
      <input type="radio" name="genre" value="rap">
      <label for="rap">Hip Hop/Rap</label>
      <br><br>
    

      Which era of music do you listen to the most? <br>
      <input type="radio" name = "era" value = "current">
      <label for="current">2020s</label><br>
      <input type="radio" name="era" value="2010s">
      <label for="2010s">2010s</label><br>
      <input type="radio" name="era" value="00s">
      <label for="00s">2000s</label><br>
      <input type="radio" name="era" value="90s">
      <label for="90s">1990s</label><br>
      <input type="radio" name="era" value="80s">
      <label for="80s">1980s</label><br>
      <input type="radio" name="era" value="70s">
      <label for="70s">1970s or 1960s</label>
      <br><br>
      
      Please, who is one of your favorite artists? <br>		
      <input type = "text" name = "artist">
      <br><br>
      
      Last and admittedly least, what is your Zodiac sign? (if you dont know or don't want to, feel free to leave this blank)<br>		
      <input type = "text" name = "sign">
      <input type = "submit">
      <br></br>
    </form>
  
  </body>
</html>
