<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="style.css">
    <title>Recommendations</title>
  </head>
  <body>
    <h1>Based off your answers, you'd probably like these songs: </h1>
    <p>{{ response1 }}</p>
    <a href={{ songLink1 }} class="btn btn-success" role="button">Listen now</a>
    <p>{{ response2 }}</p>
    <a href={{ songLink2 }} class="btn btn-success" role="button">Listen now</a>
    <p>{{ response3 }}</p>
    <a href={{ songLink3 }} class="btn btn-success" role="button">Listen now</a>
    <p>{{ response4 }}</p>
    <a href={{ songLink4 }} class="btn btn-success" role="button">Listen now</a>
    <br>
    <a href=" " class="btn btn-success" role="button">back</a>
  </body>
</html>
